*{
    margin: 0;
}
body{
    height: 100%;
    background-color: blanchedalmond;
}

/*Los keyframes en CSS se utilizan para animar propiedades CSS.
se utiliza para definir animaciones, permite crear
una secuencia de fotogramas claves (keyframes)*/

@keyframes cambiarColores {
    0% {
        background-color: white;
    }
    25% {
        background-color: #ffa157;
        transform: scale(0.5);
    }
    50% {
        background-color: #ffa157;
        transform: scale(1.1);
    }
    75% {
        background-color: #ffa157;
        transform: scale(0.5);
    }
    100% {
        background-color: #e8e8e8;
        transform: scale(1.1);
    }

}

.circulo{
    background-color: #e8e8e8;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    animation:cambiarColores 2s infinite;

    /*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-timing-function: step-end;
    animation-timing-function: ease-in-out;
    animation-timing-function: ease-in;
    animation-timing-function: ease;
    */
    
}

@keyframes volar {
    0%{}
    20%{
        transform: translate(200px, 0px);
    }
    30%{
        transform: translate(200px, 0px) rotate(90deg);
    }
    40%{
        transform: translate(200px, 200px) rotate(90deg);
    }
    50%{
        transform: translate(200px, 200px) rotate(180deg);
    }
    100%{}
}

.avion{
    animation: volar 4s infinite, cambiarColores 5s infinite;
}