.flexStyle{
    display: flex;
    border: rgb(32, 31, 31);
    border-style: double;
    border-width: 3px ;
    max-width: 300px;
    background-color: rgb(208, 200, 200);
    justify-content: space-around;
    text-align: center;
}
.btnSubmit{
   background-color: blanchedalmond;
}