#noticias{
    width: 500px;
    padding: 10px;
    border: 1px solid seagreen;
    
    /*Implementado columnas al articulo*/
    
    column-count: 4;
    column-gap: 20px;
    column-rule-style: dotted;
    column-rule-color: slateblue;
    column-rule-width: 10px;
    column-rule: 1px solid purple;
}