*{
    margin: 0;
}
body{
    height: 100%;
    background-color: gray;
}
.container{
    display: flex;
    border: 1px solid blue;
    height: 500px;
    width: 40%;

}
.container div{
    height: 50px;
}
.item1{
    flex: 1 1 100px;
    /*Atributos de flex*/
    /*flex-grow: 1; /*Controla como crece un elemento*/
    /*flex-shrink: 1; /*Controla como encoge un elemento*/
    /*flex-basis: 500px; /*Define el espacio inicial*/


    background-color: red;
}
.item2{
    flex: 2 2 500px;
    background-color: rgb(71, 170, 44);
}.item3{
    flex: 3 3 100px;
    background-color: chocolate;
}