*{
    margin: 0;
}
body{
    background-color: #ffffff;
}
header{
    background-color: blueviolet;
}
.section1{
    height: 450px;
    background-color: #000000;
    background-image: url(../image/the-seo-guide-to-angular.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.section2{
    height: 400px;
    background-image: url(https://placehold.jp/9597a7/4a4545/1000x1000.png?text=%E2%80%8E%20)
}
.section3{
    height: 500px;
    background-image: url(../image/fcb-minimalist-fc-3840x2160-14074.png);
    background-size: 100%;
    background-position: top;
}
.section4{
    height: 1000px;
}