.cabeza{
    text-align: center;
    background-color: rgb(61, 61, 155);
}
.titulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.textodetitulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.home{
    text-align: center;
}
.izquierda{
    border: rgb(255, 255, 255);
    border-style: double;
    border-width: 3px ;
    background-color: rgb(149, 144, 144);
    justify-content: right;
    width: 50%;

}
.derecha{
    border: rgb(255, 255, 255);
    border-style: double;
    border-width: 3px ;
    background-color: cornflowerblue;
    justify-content: left;
}
.container{
    display: block;
}
.alado{
    display: flex;
    width: 50%;
    justify-content: center;
}